numpy>=1.26.4
matplotlib
trimesh
pyrender
pybind11
progressbar
pyglet
boto3
mpl_interactions
mpl_point_clicker
ipyevents
pandas
requests
scikit-learn
onnx
onnxruntime
ipympl
huggingface_hub
connected-components-3d
tensorboardX
pyqt6
scikit-image
open3d
torch>=2.5.0
torchvision